<html>
    <body>
        {% if username != None %}
            U r signed in as 
            {{ username }}</br>
            <a href="/mainpage">Main</br>
            <a href="/posts">Posts</br>
            <a href="/write">Write a Post</a></br>
            <a href="/register">Register</a></br>
            <a href="/logout">Logout</a></br>
            <a href="/id_profile/{{username}}">User Page</a>
        {% else %}
            U r not signed in</br>
            <a href="/mainpage">Main</br>
            <a href="/posts">Posts</br>
            <a href="/write">Write a Post</a></br>
            <a href="/register">Register</a></br>
            <a href="/login">Login</a></br>
        {% endif %} 

    </body>
</html>