<div class = "ui main text container segment">
    <h1>This is the viewpost page</h1>
    {% for post in post_database %}
        <div>
            
            <h2>{{ post.title }}</h2>
            <span>>{{ post.text }}</span></br>
            <img src = "{{ post.image }}" ></br>
            <a href="/viewmore/{{post._id}}">View More</a></br>
            <a href="/id/{{post.author}}">{{post.author}}</a></br>
            <a>{{post.time}}</a>
        </div>
    {% endfor %} 
    </br></br></br></br></br></br>

    <a href="/mainpage">Main</a></br>
</div>


