<h>Here is the specific information of a post</h>
<h2>{{ post.title }}</h2>
<span>>{{ post.text }}</span></br>
<img src = "{{ post.image }}" ></br>
<a href="/id/{{post.author}}">{{post.author}}</a></br>
</br>
<h>Below are the comments</h></br>
</br></br>
{% for comment in comment_list %}

    <a href = "/id/{{comment.username}}">{{comment.username}}</a>
    </br>
    <a>{{comment.content}}</a></br>
    {% if comment.num_of_reply != 0 %}
    <a href="/reply_to_comment/{{comment.comment_id}}/{{comment.username}}">There are {{comment.num_of_reply}} to this comment</a></br>
    {% endif %}
    <form method="POST" action="/viewmore/{{_id}}/{{comment.username}}/{{comment.comment_id}}">
        <div class="form-group">
            <input type="text" class="form-control" id="comment" name="comment" placeholder="reply">
        </div>
        <button type="submit" class="btn btn-primary">reply</button>
    </form>

{% endfor %}
</br>

<form method="POST" action="/viewmore/{{_id}}/no_reply/no_reply">
    <div class="form-group">
        <label>comment here</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/mainpage">Main</a></br>