<div class = "ui main text container segment"><div class = "ui huge header">New Posts</div>
    <form class = "ui form" action = "/write", method = "POST">
        <div class = "field">
            <label>Title</label>
            <input type = "text" placegholder = "title" name = "Title">
        </div>

        <div class = "field">
            <label>Text</label>
            <textarea name = "Text" required></textarea>
        </div>

        <div class = "field">
            <label>Image</label>
            <input type = "text" placegholder = "Image" name = "Image">
        </div>

        <input class="ui violet basic button" type = "submit" value="submit">
    </form>
    <a href="/mainpage">Main</a></br>
</div>