<html>
    <body>
        here is the write a post page
        <form action="/write" method = "POST">
            <p>Title <input type = "text" name = "Title" id = "Title" /></p>
            <p>Text <input type = "text" name = "Text" id = "Text"/></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <a href="/mainpage">Main</a></br>
        <a href="/posts">Posts</a></br>
        <a href="/write">Write a Post</a></br>
        <a href="/register">Register</a></br>
        <a href="/login">Login</a></br>
        <a href="/logout">Logout</a></br>
    </body>
</html>